.player-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  text-align: center;
  border: 2px solid rgb(5, 158, 43);
  border-radius: 10px;
}

.trophy{
  color: gold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
